<div class="col">
  <div class="card h-100 hoverable">
    {% assign primary = project.redirect | default: project.paper | default: project.url %}
    <a href="{% if primary %}{{ primary }}{% else %}{{ project.url | relative_url }}{% endif %}"{% if primary contains '://' %} target="_blank" rel="noopener"{% endif %}>
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        {% if project.tags %}
          <div class="project-tags">
            {% for t in project.tags %}<span class="project-tag">{{ t }}</span>{% endfor %}
          </div>
        {% endif %}
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
      </div>
    </a>
    {% assign repo = project.code | default: project.github %}
    {% if project.paper or repo or project.blog or project.vis %}
      <div class="project-links">
        {% if project.paper %}
          <a href="{{ project.paper }}" class="project-link" target="_blank" rel="noopener" data-toggle="tooltip" title="Paper">
            <i class="fa-solid fa-file-lines"></i><span>paper</span>
          </a>
        {% endif %}
        {% if repo %}
          <a href="{{ repo }}" class="project-link" target="_blank" rel="noopener" data-toggle="tooltip" title="Code">
            <i class="fa-brands fa-github"></i><span>code</span>
          </a>
        {% endif %}
        {% if project.blog %}
          <a href="{{ project.blog }}" class="project-link" target="_blank" rel="noopener" data-toggle="tooltip" title="Blog">
            <i class="fa-solid fa-blog"></i><span>blog</span>
          </a>
        {% endif %}
        {% if project.vis %}
          <a href="{{ project.vis | relative_url }}" class="project-link" data-toggle="tooltip" title="Visual illustration">
            <i class="fa-solid fa-images"></i><span>vis</span>
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
